body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    color: gray;
}

#container {
    background-color: #003049;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;

    display: flex;

    /*determine main axis*/
    flex-direction: row;
    /*determine cross axis*/
    flex-wrap: wrap;

    /*along main axis*/
    justify-content: center;
    /*along cross axis*/
    align-items: end;
    align-content: space-between;
}

#container div {
    text-align: center;
    width: 33%;
    height: 20%;
    font-size: 4em;
}
#container div:nth-of-type(2) {
    height: 35%;
}
#container div:nth-of-type(4) {
    height: 25%;
}